In [120]:
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report

2. Given the following confusion matrix, evaluate (by hand) the model's performance.


|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |

- In the context of this problem, what is a false positive?

- In the context of this problem, what is a false negative?

- How would you describe this model?

dog = postive class
cat = negative class

false positive = 7
false negative = 13

In [2]:
FP = 7
FN = 13
TN = 46
TP =34


precision = TP/(TP+FP)

recall = TP/(TP+FN)

precision, recall

(0.8292682926829268, 0.723404255319149)

3. You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

- Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.

- Use the predictions dataset and pandas to help answer the following questions:

    - An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

    - Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [62]:
cody_df = pd.read_csv('c3.csv')

In [63]:
cody_df.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

In [64]:
cody_df.actual.value_counts()

No Defect    184
Defect        16
Name: actual, dtype: int64

In [65]:
df1 = pd.crosstab(cody_df.actual, cody_df.model1)
df2 = pd.crosstab(cody_df.actual, cody_df.model2)
df3 = pd.crosstab(cody_df.actual, cody_df.model3)

In [66]:
df1

model1     Defect  No Defect
actual
Defect          8          8
No Defect       2        182

In [67]:
df2

model2     Defect  No Defect
actual
Defect          9          7
No Defect      81        103

In [68]:
df3

model3     Defect  No Defect
actual
Defect         13          3
No Defect      86         98

- An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [71]:
subset = cody_df[cody_df.actual == 'Defect']

In [72]:
model1_recall = (subset.model1 == subset.actual).mean()
model2_recall = (subset.model2 == subset.actual).mean()
model3_recall = (subset.model3 == subset.actual).mean()

In [73]:
model1_recall, model2_recall, model3_recall

(0.5, 0.5625, 0.8125)

In [74]:
8/16, 9/16, 13/15

(0.5, 0.5625, 0.8666666666666667)

Recall metric would be appropriate here. Model3 is the best fit.

In [75]:
subset1 = cody_df[cody_df.model1 == 'Defect'] 
subset2 = cody_df[cody_df.model2 == 'Defect'] 
subset3 = cody_df[cody_df.model3 == 'Defect']

In [76]:
model1_precision = (subset1.model1 == subset1.actual).mean()
model2_precision = (subset2.model2 == subset2.actual).mean()
model3_precision = (subset3.model3 == subset3.actual).mean()

In [77]:
model1_precision, model2_precision, model3_precision

(0.8, 0.1, 0.13131313131313133)

In [78]:
8/10, 9/90, 13/(13+86)

(0.8, 0.1, 0.13131313131313133)

Precision metric would be appropiate. Model1 is the best fit.

4. You are working as a data scientist for Gives You Paws ™, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

Several models have already been developed with the data, and you can find their results here.

Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

- a. In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?
    
- b. Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recommend?
     
- c. Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recommend?

In [79]:
paws_df = pd.read_csv('gives_you_paws.csv')

In [80]:
paws_df

     actual model1 model2 model3 model4
0       cat    cat    dog    cat    dog
1       dog    dog    cat    cat    dog
2       dog    cat    cat    cat    dog
3       dog    dog    dog    cat    dog
4       cat    cat    cat    dog    dog
...     ...    ...    ...    ...    ...
4995    dog    dog    dog    dog    dog
4996    dog    dog    cat    cat    dog
4997    dog    cat    cat    dog    dog
4998    cat    cat    cat    cat    dog
4999    dog    dog    dog    dog    dog

[5000 rows x 5 columns]

In [83]:
df1 = pd.crosstab(paws_df.actual, paws_df.model1)
df2 = pd.crosstab(paws_df.actual, paws_df.model2)
df3 = pd.crosstab(paws_df.actual, paws_df.model3)
df4 = pd.crosstab(paws_df.actual, paws_df.model4)

In [84]:
df1

model1   cat   dog
actual
cat     1423   323
dog      640  2614

In [85]:
df2

model2   cat   dog
actual
cat     1555   191
dog     1657  1597

In [86]:
df3

model3   cat   dog
actual
cat      893   853
dog     1599  1655

In [87]:
df4

model4  cat   dog
actual
cat     603  1143
dog     144  3110

- a. In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?

In [88]:
paws_df.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [89]:
paws_df['baseline_prediction'] = 'dog'

In [90]:
paws_df.head()

  actual model1 model2 model3 model4 baseline_prediction
0    cat    cat    dog    cat    dog                 dog
1    dog    dog    cat    cat    dog                 dog
2    dog    cat    cat    cat    dog                 dog
3    dog    dog    dog    cat    dog                 dog
4    cat    cat    cat    dog    dog                 dog

In [91]:
baseline_accuracy = (paws_df.baseline_prediction == paws_df.actual).mean()
baseline_accuracy

0.6508

In [92]:
model1_accuracy = (paws_df.model1 == paws_df.actual).mean()
model2_accuracy = (paws_df.model2 == paws_df.actual).mean()
model3_accuracy = (paws_df.model3 == paws_df.actual).mean()
model4_accuracy = (paws_df.model4 == paws_df.actual).mean()

In [93]:
model1_accuracy, model2_accuracy, model3_accuracy, model4_accuracy

(0.8074, 0.6304, 0.5096, 0.7426)

model1 and model4 are better than baseline

- b. Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recommend?

In [94]:
subset = paws_df[paws_df.actual == 'dog']

In [105]:
subset1 = paws_df[paws_df.model1 == 'dog'] 
subset2 = paws_df[paws_df.model2 == 'dog'] 
subset3 = paws_df[paws_df.model3 == 'dog'] 
subset4 = paws_df[paws_df.model4 == 'dog']

In [108]:
model1_precision = (subset1.model1 == subset1.actual).mean()
model2_precision = (subset2.model2 == subset2.actual).mean()
model3_precision = (subset3.model3 == subset3.actual).mean()
model4_precision = (subset4.model4 == subset4.actual).mean()

In [109]:
df1

model1   cat   dog
actual
cat     1423   323
dog      640  2614

In [110]:
2614/(2614+323), 1597/(1597+191), 1655/(1655+853), 3110/(3110+1143)

(0.8900238338440586,
 0.8931767337807607,
 0.6598883572567783,
 0.7312485304490948)

In [111]:
model1_precision, model2_precision, model3_precision, model4_precision

(0.8900238338440586,
 0.8931767337807607,
 0.6598883572567783,
 0.7312485304490948)

recommend Model2

- c. Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recommend?

In [113]:
subset = paws_df[paws_df.actual == 'cat']

In [114]:
subset1 = paws_df[paws_df.model1 == 'cat'] 
subset2 = paws_df[paws_df.model2 == 'cat'] 
subset3 = paws_df[paws_df.model3 == 'cat'] 
subset4 = paws_df[paws_df.model4 == 'cat']

In [115]:
model1_precision = (subset1.model1 == subset1.actual).mean()
model2_precision = (subset2.model2 == subset2.actual).mean()
model3_precision = (subset3.model3 == subset3.actual).mean()
model4_precision = (subset4.model4 == subset4.actual).mean()

In [116]:
model1_precision, model2_precision, model3_precision, model4_precision

(0.6897721764420747, 0.4841220423412204, 0.358346709470305, 0.8072289156626506)

In [117]:
df1

model1   cat   dog
actual
cat     1423   323
dog      640  2614

In [118]:
1423/(1423+640), 1555/(1555+1657), 893/(893+1599), 603/(603+144)

(0.6897721764420747, 0.4841220423412204, 0.358346709470305, 0.8072289156626506)

In [119]:
model1_precision, model2_precision, model3_precision, model4_precision

(0.6897721764420747, 0.4841220423412204, 0.358346709470305, 0.8072289156626506)

recommend Model4

In [128]:
for col in paws_df.columns:
    if col != 'actual':
        print(f'{col} :{accuracy_score(paws_df.actual, paws_df[col])}')

model1 :0.8074
model2 :0.6304
model3 :0.5096
model4 :0.7426
baseline_prediction :0.6508