In [1]:
# imports

import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report

### 2. Given the following confusion matrix, evaluate (by hand) the model's performance.


|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |

cat = postive class

dog = negative class

#### - In the context of this problem, what is a false positive?
predicted a cat but is adog

#### - In the context of this problem, what is a false negative?
predicted a dog but is a cat

#### - How would you describe this model?
true positive is predicting its a cat, and its a cat

tp = 34

true negative is predicting its a dog, and its a dog

tn = 46

false positive is predicting its a cat, but its a dog

fp = 7

false negative is predicting its a dog, but its a cat

fn = 13

In [2]:
FP = 7
FN = 13
TN = 46
TP =34


precision = TP/(TP+FP)

recall = TP/(TP+FN)

accuracy = (TP + TN) / (TP + TN + FP + FN)

precision, recall, accuracy

(0.8292682926829268, 0.723404255319149, 0.8)

####  3. You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

#### - Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.

#### - Use the predictions dataset and pandas to help answer the following questions:

    - An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

    - Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [3]:
# read csv file into dataframe
cody_df = pd.read_csv('c3.csv')

# peek at the data
cody_df.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

In [4]:
# get count of defect and non-defects.
cody_df.actual.value_counts()

No Defect    184
Defect        16
Name: actual, dtype: int64

In [5]:
# create dataframe for confusion matrix
df1 = pd.crosstab(cody_df.actual, cody_df.model1)
df2 = pd.crosstab(cody_df.actual, cody_df.model2)
df3 = pd.crosstab(cody_df.actual, cody_df.model3)

In [6]:
df1

model1     Defect  No Defect
actual
Defect          8          8
No Defect       2        182

In [7]:
df2

model2     Defect  No Defect
actual
Defect          9          7
No Defect      81        103

In [8]:
df3

model3     Defect  No Defect
actual
Defect         13          3
No Defect      86         98

 #### -  An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [9]:
# model positive
subset = cody_df[cody_df.actual == 'Defect']

In [10]:
# recall of each model
model1_recall = (subset.model1 == subset.actual).mean()
model2_recall = (subset.model2 == subset.actual).mean()
model3_recall = (subset.model3 == subset.actual).mean()

In [11]:
# print recall of each model
model1_recall, model2_recall, model3_recall

(0.5, 0.5625, 0.8125)

In [12]:
# Recall by confusion matrix 
# Recall = TP /(TP/TP+ FN)
8/16, 9/16, 13/15

(0.5, 0.5625, 0.8666666666666667)

 Recall metric would be appropriate here. Model3 is the best fit.

#### - Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [13]:

subset1 = cody_df[cody_df.model1 == 'Defect'] 
subset2 = cody_df[cody_df.model2 == 'Defect'] 
subset3 = cody_df[cody_df.model3 == 'Defect']

In [14]:
# precision of each model
model1_precision = (subset1.model1 == subset1.actual).mean()
model2_precision = (subset2.model2 == subset2.actual).mean()
model3_precision = (subset3.model3 == subset3.actual).mean()

In [15]:
# print precision of each model
model1_precision, model2_precision, model3_precision

(0.8, 0.1, 0.13131313131313133)

In [16]:
# precision by confusion matrix each model
# Recall = TP /(TP/TP+ FP)
8/10, 9/90, 13/(13+86)

(0.8, 0.1, 0.13131313131313133)

 Precision metric would be appropiate. Model1 is the best fit.

### 4. You are working as a data scientist for Gives You Paws â„¢, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

Several models have already been developed with the data, and you can find their results here.

Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

 - a. In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?
    
 - b. Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recommend?
     
- c. Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recommend?

In [17]:
# read csv file into dataframe
paws_df = pd.read_csv('gives_you_paws.csv')

# peek into data
paws_df.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [18]:
# create dataframe for confusion matrix
df1 = pd.crosstab(paws_df.actual, paws_df.model1)
df2 = pd.crosstab(paws_df.actual, paws_df.model2)
df3 = pd.crosstab(paws_df.actual, paws_df.model3)
df4 = pd.crosstab(paws_df.actual, paws_df.model4)

In [19]:
df1

model1   cat   dog
actual
cat     1423   323
dog      640  2614

In [20]:
df2

model2   cat   dog
actual
cat     1555   191
dog     1657  1597

In [21]:
df3

model3   cat   dog
actual
cat      893   853
dog     1599  1655

In [22]:
df4

model4  cat   dog
actual
cat     603  1143
dog     144  3110

#### - a. In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?

In [23]:
# get value counts 
paws_df.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [24]:
# baseline prediction
paws_df['baseline_prediction'] = 'dog'

In [25]:
# dataframe with baseline prediction
paws_df.head()

  actual model1 model2 model3 model4 baseline_prediction
0    cat    cat    dog    cat    dog                 dog
1    dog    dog    cat    cat    dog                 dog
2    dog    cat    cat    cat    dog                 dog
3    dog    dog    dog    cat    dog                 dog
4    cat    cat    cat    dog    dog                 dog

In [26]:
# baseline accuracy
baseline_accuracy = (paws_df.baseline_prediction == paws_df.actual).mean()
baseline_accuracy

0.6508

In [27]:
# get accuracy score of each model
model1_accuracy = (paws_df.model1 == paws_df.actual).mean()
model2_accuracy = (paws_df.model2 == paws_df.actual).mean()
model3_accuracy = (paws_df.model3 == paws_df.actual).mean()
model4_accuracy = (paws_df.model4 == paws_df.actual).mean()

In [28]:
# print accuracy score of each model
model1_accuracy, model2_accuracy, model3_accuracy, model4_accuracy

(0.8074, 0.6304, 0.5096, 0.7426)

model1 and model4 are better than baseline

#### - b. Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recommend?

####  Phase I: Automated algorithm tags pictures as either a cat or a dog

In [29]:
subset = paws_df[paws_df.actual == 'dog']

In [30]:
model1_recall = (subset.model1 == subset.actual).mean()
model2_recall = (subset.model2 == subset.actual).mean()
model3_recall = (subset.model3 == subset.actual).mean()
model4_recall = (subset.model4 == subset.actual).mean()

In [31]:
# print recall of each model
model1_recall, model2_recall, model3_recall, model4_recall

(0.803318992009834,
 0.49078057775046097,
 0.5086047940995697,
 0.9557467732022127)

recommend model 4

#### Phase II: Photos that have been initially identified are put through another round of review

In [32]:
 
subset1 = paws_df[paws_df.model1 == 'dog'] 
subset2 = paws_df[paws_df.model2 == 'dog'] 
subset3 = paws_df[paws_df.model3 == 'dog'] 
subset4 = paws_df[paws_df.model4 == 'dog']

In [33]:
# get precsion of each model
model1_precision = (subset1.model1 == subset1.actual).mean()
model2_precision = (subset2.model2 == subset2.actual).mean()
model3_precision = (subset3.model3 == subset3.actual).mean()
model4_precision = (subset4.model4 == subset4.actual).mean()

In [34]:
df1

model1   cat   dog
actual
cat     1423   323
dog      640  2614

In [35]:
2614/(2614+323), 1597/(1597+191), 1655/(1655+853), 3110/(3110+1143)

(0.8900238338440586,
 0.8931767337807607,
 0.6598883572567783,
 0.7312485304490948)

In [36]:
model1_precision, model2_precision, model3_precision, model4_precision

(0.8900238338440586,
 0.8931767337807607,
 0.6598883572567783,
 0.7312485304490948)

recommend Model2

#### - c. Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recommend?

In [37]:
subset = paws_df[paws_df.actual == 'cat']

In [38]:
subset1 = paws_df[paws_df.model1 == 'cat'] 
subset2 = paws_df[paws_df.model2 == 'cat'] 
subset3 = paws_df[paws_df.model3 == 'cat'] 
subset4 = paws_df[paws_df.model4 == 'cat']

In [39]:
model1_precision = (subset1.model1 == subset1.actual).mean()
model2_precision = (subset2.model2 == subset2.actual).mean()
model3_precision = (subset3.model3 == subset3.actual).mean()
model4_precision = (subset4.model4 == subset4.actual).mean()

In [40]:
model1_precision, model2_precision, model3_precision, model4_precision

(0.6897721764420747, 0.4841220423412204, 0.358346709470305, 0.8072289156626506)

In [41]:
df1

model1   cat   dog
actual
cat     1423   323
dog      640  2614

In [42]:
# precision by of each model by cofusion matrix
1423/(1423+640), 1555/(1555+1657), 893/(893+1599), 603/(603+144)

(0.6897721764420747, 0.4841220423412204, 0.358346709470305, 0.8072289156626506)

In [43]:
# print precision
model1_precision, model2_precision, model3_precision, model4_precision

(0.6897721764420747, 0.4841220423412204, 0.358346709470305, 0.8072289156626506)

recommend Model4

In [44]:
# another way

#calculate for all models
model_pre = []

for model in paws_df.columns[1:]:
    
    subset = paws_df [paws_df[model] == 'cat']
    
    precision = (subset.actual == subset[model]).mean()

    model_pre.append([model,precision])
    
model_pre

[['model1', 0.6897721764420747],
 ['model2', 0.4841220423412204],
 ['model3', 0.358346709470305],
 ['model4', 0.8072289156626506],
 ['baseline_prediction', nan]]

In [45]:
#make pretty in df
pd.DataFrame(model_pre, columns=['model','precision'])

                 model  precision
0               model1   0.689772
1               model2   0.484122
2               model3   0.358347
3               model4   0.807229
4  baseline_prediction        NaN

#### 5. Follow the links below to read the documentation about each function, then apply those functions to the data from the previous problem.
    - sklearn.metrics.accuracy_score
    - sklearn.metrics.precision_score
    - sklearn.metrics.recall_score
    - sklearn.metrics.classification_report

In [46]:
#classification report of models 

for col in paws_df.columns:
    if col != 'actual':
        print(col)
        df1 = pd.DataFrame(classification_report(paws_df.actual, paws_df[col], 
                      labels=['cat','dog'],
                      output_dict=True)).T
        print(df1)
        print()

model1
              precision    recall  f1-score    support
cat            0.689772  0.815006  0.747178  1746.0000
dog            0.890024  0.803319  0.844452  3254.0000
accuracy       0.807400  0.807400  0.807400     0.8074
macro avg      0.789898  0.809162  0.795815  5000.0000
weighted avg   0.820096  0.807400  0.810484  5000.0000

model2
              precision    recall  f1-score    support
cat            0.484122  0.890607  0.627269  1746.0000
dog            0.893177  0.490781  0.633479  3254.0000
accuracy       0.630400  0.630400  0.630400     0.6304
macro avg      0.688649  0.690694  0.630374  5000.0000
weighted avg   0.750335  0.630400  0.631310  5000.0000

model3
              precision    recall  f1-score    support
cat            0.358347  0.511455  0.421425  1746.0000
dog            0.659888  0.508605  0.574453  3254.0000
accuracy       0.509600  0.509600  0.509600     0.5096
macro avg      0.509118  0.510030  0.497939  5000.0000
weighted avg   0.554590  0.509600  0.521016  5000.0000

model4
              precision    recall  f1-score    support
cat            0.807229  0.345361  0.483755  1746.0000
dog            0.731249  0.955747  0.828560  3254.0000
accuracy       0.742600  0.742600  0.742600     0.7426
macro avg      0.769239  0.650554  0.656157  5000.0000
weighted avg   0.757781  0.742600  0.708154  5000.0000

baseline_prediction
              precision  recall  f1-score    support
cat            0.000000  0.0000  0.000000  1746.0000
dog            0.650800  1.0000  0.788466  3254.0000
accuracy       0.650800  0.6508  0.650800     0.6508
macro avg      0.325400  0.5000  0.394233  5000.0000
weighted avg   0.423541  0.6508  0.513134  5000.0000

/opt/homebrew/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/homebrew/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/homebrew/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [47]:
def calculate_precision(predictions, positive='dog'):
    return precision_score(paws_df.actual, predictions, pos_label=positive)

In [48]:
def calculate_recall(predictions, positive='dog'):
    return recall_score(paws_df.actual, predictions, pos_label=positive)

In [49]:
pd.concat([
    paws_df.loc[:, 'model1':'baseline_prediction'].apply(calculate_recall).rename('recall'),
    paws_df.loc[:, 'model1':'baseline_prediction'].apply(calculate_precision).rename('precision'),
], axis=1)

                       recall  precision
model1               0.803319   0.890024
model2               0.490781   0.893177
model3               0.508605   0.659888
model4               0.955747   0.731249
baseline_prediction  1.000000   0.650800